[files]
config_directory = config/
log_directory = logs/
log_prefix = get_bph_indicators_log_
output_directory = output/
output_file_json = bph_provider_indicators.json
store_original_attachment = true

[intel471]
titan_username = <YOUR TITAN USERNAME>
titan_api_key = <YOUR TITAN API KEY>
titan_api_base_url = https://api.intel471.com/v1/
titan_api_batch_size = 100
titan_user_agent = get_bph_indicators/1.0.1
bph_tracking_tag = Bulletproof Hosting Tracking
